.homeComponent {
    height: 100vh;
    background-color: black;
    background-image: url("../../../public/assets/images/avatar.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .centerContainer {
        position: absolute;
        top: 40%;
    }

    .greetingText {
        font-size: 30px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

    .personalDescription {
        display: flex;
        word-wrap: break-word;
        font-size: 20px;
        color: beige;
    }

    .moreAbout {
        text-align: end;
        font-size: 18px;
        color: orange;
        cursor: pointer;
    }
}
