@keyframes skillText {

    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1.6, 0.6);
        color: orange;
    }

    50% {
        color: orange;
        transform: scale(1.4, 0.9);
    }

    75% {
        transform: scale(1.2, 0.9);
        color: orange;
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes skillfilling {
    0% {
        width: 0%;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: sandybrown;
    }

    100% {
        background-color: burlywood;

    }
}

@keyframes text-fill {
    100% {
        width: 20%;
    }

}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}